/* Css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  place-items: center;
  background-color: hsl(212, 45%, 89%);
}

body,
h1,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* Utility Classes */
.grid {
  display: grid;
}

.container {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 60em;
}

/* Card */
.card {
  width: 25rem;
  height: 40rem;
  padding: 2rem;
  background: #fff;
  border-radius: 7px;
}
