:root {
  --crl-white: hsl(0, 0%, 100%);
  --crl-slate-300: hsl(212, 45%, 89%);
  --crl-slate-500: hsl(216, 15%, 48%);
  --crl-slate-900: hsl(218, 44%, 22%);
  
  --fw-regular: 400;
  --fw-bold: 700;
  
  --ff-body: 'Outfit', sans-serif;
  
  --border-radius: 2rem;
}

/* Css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
h1,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* Typography */
body {
  background-color: var(--crl-slate-300);
  font-family: var(--ff-body);
  font-size: 2rem;
  font-weight: var(--fw-regular);
}

h1 {
  color: var(--crl-slate-900);
  font-size: 2.85rem;
  font-weight: var(--fw-bold);
}

/* Card */
.card {
  color: var(--crl-slate-500);
  background: var(--crl-white);  
  border-radius: var(--border-radius);
  text-align: center;
  width: 32rem;
  height: 50rem;
  padding: 1.8rem;
}

.card * + * {
  margin-top: 2rem;
}

.card__image {
  border-radius: var(--border-radius);
}