/* Css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
h1,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* Typography */
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 2rem;
  font-weight: 700;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 1.7rem;
  font-weight: 400;
}


/* Utility Classes */
.border-radius {
  border-radius: 20px;
}

/* Card */
.card {
  width: 32rem;
  height: 50rem;
  padding: 1.5rem;
  background: #fff;
}

.card * + * {
  margin-top: 1.5rem;
}

.card__body {
  text-align: center;
}

